.venv
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log
.DS_Store/
.idea/
docker-compose.yml
celerybeat-schedule
requirements.txt.py
stack.yml
traefik.yml
Dockerfile
.dockerignore
.gitignore
warn.log
assets/
.devspace/
.github/
*.tar.gz

# Ignore devspace.yaml file to prevent image rebuilding after config changes
devspace.yaml
*.yaml
reforge/settings/local.py